.dialogs {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.messages {
  border-left: 1px solid rgba(80, 79, 79, 0.25);
  padding: 20px 40px;
}

.newMessage {
  border-left: 1px solid rgba(80, 79, 79, 0.25);
  padding: 20px;
  grid-row: 2/2;
  grid-column: 2/2;
}

.noDialogsElement {
  width: 800px;
  height: 150px;
  font-size: xx-large;
  color: #6666ff;
  position: relative;
  left: 30%;
  top: 40%;
}

.noMessagesElement {
  width: 700px;
  height: 150px;
  font-size: xx-large;
  color: #6666ff;
  position: relative;
  left: 13%;
  top: 40%;
}
