.dialogs {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.messages {
  border-left: 1px solid rgba(80, 79, 79, 0.25);
  padding: 20px 40px;
}

.newMessage {
  border-left: 1px solid rgba(80, 79, 79, 0.25);
  padding: 20px;
  grid-row: 2/2;
  grid-column: 2/2;
}

.noDialogsElement {
  font-size: xx-large;
  color: #6666ff;
  position: relative;
  left: 27%;
  top: 40%;
}

.noMessagesElement {
  font-size: xx-large;
  color: #6666ff;
  position: relative;
  left: 12%;
  top: 40%;
}
