.profileInfo {
  display: grid;
  grid-template-columns: 215px 9fr;
  grid-template-rows: auto auto;
  grid-template-areas: "photo description";
  gap: 20px;
  margin: 30px 25px 10px 25px;
}

.profileName {
  margin-bottom: 15px;
  font-size: xx-large;
}

.profileDescription {
  grid-area: description;
  margin-left: 20px;
}

.changeProfileButton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: rgba(102, 102, 255, 0.4);
}
.changeProfileButton:hover {
  background-color: rgba(102, 102, 255, 0.75);
}
.changeProfileButton:active {
  background-color: rgb(102, 102, 255);
}
