.descriptionBlock {
  width: 85%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blockInfo {
  margin-left: 10px;
}

.blockName {
  font-size: 22px;
  margin-bottom: 15px;
}

.blockItem {
  margin-bottom: 10px;
}

.blockItemHeader {
  margin-right: 5px;
  color: #6666ff;
}

.noDataElement {
  font-size: large;
  font-weight: 600;
  color: #6666ff;
}
