.linkWrapper {
  margin-bottom: 10px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.link {
  color: black;
  font-size: x-large;
  text-decoration: none;
  font-family: "Helvetica";
}

.link.activeLink {
  color: purple;
}
