.addPostForm {
  margin: 0 0 20px 270px;
}

.postTextArea {
  width: 865px;
  min-width: 865px;
  max-width: 865px;
  height: 50px;
  min-height: 30px;
  max-height: 100px;
}

.addPostButton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: rgba(102, 102, 255, 0.4);
}
.addPostButton:hover {
  background-color: rgba(102, 102, 255, 0.75);
}
.addPostButton:active {
  background: rgb(102, 102, 255);
}
