.photoBar {
  grid-area: photo;
  margin: 10px 0 0 20px;
}

.profilePhoto {
  width: 200px;
}

.inputWindow {
  position: relative;
  bottom: 205px;
}

.inputWindowLabel {
  display: block;
  width: 190px;
  height: 192px;
  border: 5px dashed black;
  background-color: rgba(143, 131, 131, 0.767);
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  opacity: 0;
}

.inputWindowLabel:hover {
  opacity: 1;
}

.clipIcon {
  width: 75px;
  position: relative;
  top: 25px;
}

.inputTitle {
  position: relative;
  top: 40px;
  font-size: 16pt;
  font-weight: 600;
}

.inputFile {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
