.preloaderRelative {
  position: relative;
  left: 50%;
  top: 40%;
}

.preloaderAbsolute {
  position: absolute;
  left: 50%;
  top: 40%;
}

.preloaderRelative img,
.preloaderAbsolute img {
  width: 100px;
}
