.header {
  grid-area: h;
  background-color: #a3e9f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 155px;
  margin-left: 10px;
}

.profileBar {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}
.userAvatar {
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.userName {
  display: inline-block;
  position: relative;
  bottom: 14px;
  color: black;
  font-size: 16pt;
}

.logoutBar {
  float: right;
  margin-left: 15px;
  position: relative;
  bottom: 1px;
}
.logoutIcon {
  width: 15px;
  position: relative;
  right: 5px;
  top: 2px;
}
.logoutButton {
  width: 100px;
  position: relative;
  top: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 7px 15px;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: rgba(253, 118, 118, 0.4);
}
.logoutButton:hover {
  background-color: rgba(253, 118, 118, 0.75);
}
.logoutButton:active {
  background-color: rgb(253, 118, 118);
}
