.header {
  grid-area: h;
  background-color: #a3e9f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  margin-left: 10px;
}

.profileBar {
  margin-right: 40px;
}

.userAvatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  float: right;
  position: relative;
  top: 18px;
  color: black;
  font-size: 16pt;
}

.loginButton {
  margin-right: 40px;
  top: 18px;
  font-size: 16pt;
  text-decoration: none;
  color: black;
}
