.addMessageArea {
  width: 900px;
  min-width: 900px;
  max-width: 900px;
  height: 50px;
  min-height: 30px;
  max-height: 100px;
}

.addMessageButton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: rgba(102, 102, 255, 0.4);
}
.addMessageButton:hover {
  background-color: rgba(102, 102, 255, 0.75);
}
.addMessageButton:active {
  background-color: rgb(102, 102, 255);
}
