.app-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 255px 1fr;
  grid-template-areas:
    "h h"
    "n c";
  font-family: "Helvetica";
}

.app-wrapper-content {
  width: 96%;
  min-width: 900px;
  max-width: 2000px;
  grid-area: c;
  background-color: #a3e9f0;
  border-radius: 10px;
  margin: 15px auto 0 auto;
}
