.user {
  display: grid;
  grid-template-columns: 1fr 12fr;
  margin: 20px;
}

.followBar {
  width: 120px;
  grid-column: 1/2;
  margin-right: 15px;
}

.userAvatar {
  display: block;
  width: 75px;
  border-radius: 50%;
  margin: 0 auto 5px auto;
}

.userButton {
  display: block;
  width: 110px;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 5px 10px;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}

.followButton {
  background-color: rgba(35, 226, 86, 0.4);
}
.followButton:hover {
  background-color: rgba(35, 226, 86, 0.75);
}
.followButton:active {
  background-color: rgb(35, 226, 86);
}

.unfollowButton {
  background-color: rgba(253, 118, 118, 0.4);
}
.unfollowButton:hover {
  background-color: rgba(253, 118, 118, 0.75);
}
.unfollowButton:active {
  background-color: rgb(253, 118, 118);
}

.userInfo {
  grid-column: 2/3;
  border: 1px gray solid;
  border-radius: 5px;
}

.userName {
  margin: 10px;
  font-size: x-large;
  color: #6666ff;
}

.userStatus {
  margin: 10px;
}
